@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Light.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: Open Sans, sans-serif;
}

/* Header */
header {
    background-color: #2C3E50;
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    height:10vh;
    padding: 0 25vh;
}

nav {
    display: flex;
    justify-content: center;
}

nav p {
    margin: auto 10px;
    font-weight: 600;
}


/* Main */
/* Section Profil */
.profil {
    background-color: #DC3545;
    color: white;
}

/* Section Portfolio */
.img-container {
    color: #2C3E50;
}

/* Section about */
.about {
    background-color: #DC3545;
    color: white;
}

/* Section CONTACT */
.contact {
    color: #2C3E50;
}

button {
    background-color: #DC3545;
    color: white;
}
/* Footer */
footer {
    color: white;
    text-align: center;
}
.foot {
    background-color: #2C3E50;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    padding: 10vh 25vh 15vh 25vh;
}

.fa-brands {
    padding: 0.8rem;
    border: 1px solid;
    border-radius: 50%;
    margin: 2px;
    /* Modifier les propriétés fontawesome */
}

footer p {
    margin: 0;
}

span {
    color: #1ABC9C;
}
.copyright {
    background-color: #1A252F;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}