@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Light.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: Open Sans, sans-serif;
}



/* Footer */
.foot {
    background-color: #2C3E50;
}

.copyright {
    background-color: #1A252F;
}

footer p {
    margin: 0;
}