@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Light.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: Open Sans, sans-serif;
}

/* Header */
header {
    background-color: #2C3E50;
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr; /* Séparer header en 2 parties*/
    align-items: center;
    height:10vh; /* Hauteur au header */
    padding: 0 25vh;
}

nav {
    display: flex;
    justify-content: center;
}

nav p {
    margin: auto 10px; /* Espacement entre les liens */
    font-weight: 600; /* Met en gras */
}

/* Main */
/* Section Profil */
.profil {
    background-color: #DC3545;
    color: white;
    text-align: center;
    padding: 7vh 0;
}
.profil h1 {
    font-size: 3rem;
}

.profil img {
    width: 15%;
}

/* Section Portfolio */
.portfolio {
    margin: 8vh;
}
h1, h3 {
    /* Pour tous les titres de section*/
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1vh;
}
.img-container {
    color: #2C3E50;
    max-width: 1300px;
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,30%);
    justify-content: center;
    gap: 2rem;
}

.img-container img {
    width: 100%;
}

/* Section about */
.about {
    background-color: #DC3545;
    color: white;
    padding: 4vw 40vh;
}
.txt-about {
    display: flex;
}
.txt-about p {
    margin: 3vh 2vw;
}

/* Section CONTACT */
.contact {
    color: #2C3E50;
}

button {
    background-color: #DC3545;
    color: white;
}
/* Footer */
footer {
    color: white;
    text-align: center;
}
.foot {
    background-color: #2C3E50;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    padding: 10vh 25vh 15vh 25vh;
}

.fa-brands {
    padding: 0.8rem;
    border: 1px solid;
    border-radius: 50%;
    margin: 2px;
    /* Modifier les propriétés fontawesome */
}

footer p {
    margin: 0;
}

span {
    color: #1ABC9C;
}
.copyright {
    background-color: #1A252F;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}